body{
    background-image:url(../images/Backgroundimage.jpg);
}
h1{
    background-color: darkolivegreen;
    text-align: center;
    color:antiquewhite;
    font-size: 100px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h2{
    font-size: 30px;
    background-color:rgb(137, 137, 43);
}
h3{
    font-size: 20px;
    background-color: darkslategrey;
    color: aliceblue;
}
p{
    font-size: 20px;
}
header ul{
    list-style-type: none;
    margin: 0;
    padding: 5px;
    overflow: hidden;
    background-color: rgb(7, 55, 7);
    text-align: center;
}
header li{
    font-size: 20px;
    float: left;
    text-align: center;
    align-items: center;
    
}
header li a{
    display: block;
    color: rgb(224, 203, 10);
    text-align: center;
    padding: 8px;
    text-decoration: none;
}
header li a:hover:not(.active){
    background-color: blanchedalmond;
    color: #388d23;
}
body{
    font-size: 20px;
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    width: 100%;
    gap:20px;
}
.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid olive;
    font-size: 10px;
    text-align: center;
    height:300px; 
    width:150px;
    padding: 50px;
}
.name{
    padding: 5px;
    background-color: darkkhaki;
    font-size: 20px;
}
.button{
    border: none;
    color: antiquewhite;
    padding: 10px 20px;
    text-align: center;
    display: inline-block;
    background-color: rgb(120, 146, 16);
    
    height: 30px;
}
.button a{
    color: white;
}

@media screen and (max-width:480px){
    body{
        background-color: rgb(8, 81, 56);
    }
    img{
        width: 150px;
    }
    h1{
        font-size:xx-large;
    }
    h2{
        font-size: x-large;
    }
    h3{
        font-size: larger;
    }
    table,tr, td{
        display: block;
    }

    th{
        display: none;
    }
    .grid-container {
        display: grid ;
        
        grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
        width: 90%;
        gap:100px;
    }
    .grid-item {
        background-color: rgba(255, 255, 255, 0.8);
        border: 1px solid olive;
        font-size: 10px;
        text-align: center;
        width:90%;
        padding: 20px;
    }  
}
footer{
    background-color: #000000;
    color: #ffffff;
    text-align: center;
}
h2 a {
    font-size: xx-large;
    color: #000000;
    display: flex;
    float: right;
    padding-right: 100px;
}
footer dl{
    text-align: justify;
}
